*{
    box-sizing: border-box;
}


ul{
    margin:0;
    padding:0;
}

/*styles the list items */
ul li {
    cursor: pointer;
    position:relative;
    padding:12px 8px;
    background:#eee;
    font-size: 18px;
    transition:0.2s;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

/*sets all odd list items to a different color*/
ul li:nth-child(odd){
    background: #f9f9f9;
}

ul li:hover{
    background:#ddd;
}

/* adds a line when checkd on*/
ul li.checked {
    background:#888;
    color:#fff;
    text-decoration:line-through;
}

/* add a checked mark when clicked on*/

ul li.checked::before { 
    content:'';
    position: absolute;
    font-weight:bold ;
    border-color: #110202;
    border-style:solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: -16px;
    transform:rotate(45deg);
    height:15px;
    width:7px;
}

/*style the close button*/
.close{
    position: absolute;
    right:0;
    top:0;
    margin-left: 10px ;
    background-color: #888;
    padding:15px 10px 17px 16px;
}

.close:hover{
    background-color:#f44336;
    color:white;
}

/*stylingn the header*/
.header {
    background-color: #8851f0;
    padding:30px 40px;
    color:white;
    text-align: center;
}

/*clear floats after header*/
.header:after{
    content:"";
    display: table;
    clear:both;
}
/* style the input*/
input{
    margin:0;
    border:none;
    border-radius:0;
    width:75%;
    padding:10px;
    float:left;
    font-size:16px;
}

.addButton{
    padding:10px;
    width:25%;
    background:#d9d9d9;
    color: #555;
    float:left;
    text-align:center;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
    border-radius:0;
}

.addButton:hover{
    background-color:#bbb;
}

#myList{
    position: relative;
    left:20px;
}